body {
  margin: 0;
  padding: 0;  
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button, select {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-wrap: nowrap;
    background-color: oklch(86.9% 0.005 56.366);
}

#root {
  background-color: #e8dfd2;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.background-image{
  width: 100vw;
  height: 100vh;
  margin: -10px;
  background-image: url('./assets/dragon_squadron.svg');
  background-size: 120px;
  display: inline;
  position: absolute;
  filter: hue-rotate(-170deg) saturate(60);
  z-index: 0;
  opacity: 0.07;
}

.themappa{
  z-index: 1;
position: relative;
}

.wrapper {
  padding: 10px;
  padding-bottom: 0;
}

/* .CharacterPortrait:hover {
  outline: solid olive;
}

.CharacterPortrait:active {
  outline: solid darkblue
}

.characterCheckbox:checked ~ .CharacterPortrait{
  outline: solid darkblue
}

.characterCheckbox:focus-visible ~ .CharacterPortrait{
  outline: solid lightblue
} */

.CharacterPortrait {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}




.CharacterPortrait.Jane_portrait:hover {
  filter: drop-shadow(5px 2px rgb(18, 142, 12))
}

.characterCheckbox:checked ~ .CharacterPortrait.Jane_portrait, .characterCheckbox:not(:checked) ~ .CharacterPortrait.Jane_portrait:hover {
  background-image: url("assets/portraits/portrait_jane_selected.png");
}

.characterCheckbox:not(:checked) ~ .CharacterPortrait.Jane_portrait {
  background-image: url("assets/portraits/portrait_jane_unselected.png");
}

.CharacterPortrait.Riley_portrait:hover {
  filter: drop-shadow(5px 2px rgb(227, 172, 46))
}

.characterCheckbox:checked ~ .CharacterPortrait.Riley_portrait, .characterCheckbox:not(:checked) ~ .CharacterPortrait.Riley_portrait:hover {
  background-image: url("assets/portraits/portrait_riley_selected.png");
}

.characterCheckbox:not(:checked) ~ .CharacterPortrait.Riley_portrait {
  background-image: url("assets/portraits/portrait_riley_unselected.png");
}

.CharacterPortrait.Granby_portrait:hover {
  filter: drop-shadow(5px 2px rgb(229, 11, 11))
}

.characterCheckbox:checked ~ .CharacterPortrait.Granby_portrait, .characterCheckbox:not(:checked) ~ .CharacterPortrait.Granby_portrait:hover {
  background-image: url("assets/portraits/portrait_granby_selected.png");
}

.characterCheckbox:not(:checked) ~ .CharacterPortrait.Granby_portrait {
  background-image: url("assets/portraits/portrait_granby_unselected.png");
}

.CharacterPortrait.Tharkay_portrait:hover {
  filter: drop-shadow(5px 2px rgb(132, 9, 185))
}
.characterCheckbox:checked ~ .CharacterPortrait.Tharkay_portrait, .characterCheckbox:not(:checked) ~ .CharacterPortrait.Tharkay_portrait:hover {
  background-image: url("assets/portraits/portrait_tharkay_selected.png");
}

.characterCheckbox:not(:checked) ~ .CharacterPortrait.Tharkay_portrait {
  background-image: url("assets/portraits/portrait_tharkay_unselected.png");
}